<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="navbar">
    <br>

    <ul class="nav-links">
        <li routerLink="" class="active">
            <i class='bx bx-home'></i>
            <span class="link_name">Home</span>
        </li>
        <li routerLink="contact" class="active">
            <i class='bx bx-user'></i>
            <span class="link_name">Contactanos</span>
        </li>
        <li routerLink="privacypolicy">
            <i class='bx bx-cube'></i>
            <span class="link_name">Politica De privacidad</span>
        </li>
    </ul>
</div>
